<!-- views/pages/errorpage.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="container">
<% include ../partials/header %>

<main>
  <section class="section__error">
    <h1 class="error__heading"><%= data %></h1>
    <a class="link" href="/">Til baka</a>
  </section>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
